.grid {
    width: 400px;
    height: 600px;
    background-image: url("background.png");
    position: relative;
    font-size: 40px;
    text-align: center;
    /* For Game Over Screen */
    font-family: 'Reenie Beanie', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: green;
}

.restart-btn {
    cursor: pointer;
    font-family: 'Reenie Beanie', cursive;
    text-transform: uppercase;
    background-color: rgb(245, 228, 78);
    border: 3px dashed green;
    padding: 0.5rem;
    font-size: 2rem;
    color: green; 
    margin-bottom: 1.5rem;
}

.doodler {
    width: 85px;
    height: 85px;
    background-image: url("doodler-guy.png");
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-image: url("platform.png");
    position: absolute;
}